p, h1 {
 font-family: 'Droid Sans', sans-serif;
}

th {
  color: #6D6D6D;
}

td {
  padding: 10px 0 10px 5px !important;
  height: 40px;
}

.panel-heading {
  background-color: white !important;
}

body {
  background-color: white !important;
}

body .modal {
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  display: block;
}



/* Reusable classes */
.marginTop {
  margin-top: 100px;
}
.marginBottom {
  margin-bottom: 60px;
}
.error {
  color: red;
}

.primaryGray {
  color: #6D6D6D;
}

.secondaryGray {
  color: #F2F2F2;
}

.secondaryBlue {
  color: #228AEB;
}

.lightOrange {
  color: #FF9885;
}

.title {
  font-size: 1.3em;
  color: #6D6D6D;
  padding-bottom: 30px;
}

/* Moves the body of app 5 em right, so side navbar will fit */
.body-content {
  margin-left: 4.6em;
  transition: margin-left 0.3s linear;
  -moz-transition: margin-left 0.3s linear;
  -webkit-transition: margin-left 0.3s linear;
}
/* Side nav bar disappears after app hits xs, media query removes margin-left*/
@media all and (max-width: 768px) {
    .body-content {
      margin-left: 0em;
    }
}
/* ------------ ForgotPassword.jsx --------------------------------------------------------------*/
.forgotPassword {

}
.forgotPassword button {
  width: 100%;
}
/* ------------ RequestReset.jsx --------------------------------------------------------------*/
.requestReset {
  margin-top: 150px;
  color: #284A75;
}
.requestReset button {
  margin-top: 25px;
  width: 100%;
}
.requestReset label {
  margin-bottom: 25px;
}
#emailSentIcon {
  color: #449D44;
}

/* ------------ SingleEmployeeTab.jsx --------------------------------------------------------------*/
#singleEmployee {
    border: 2.5px solid #BCB5B9;
    border-radius: 5px;
    width: 90px;
    height: 120px;
    margin-top: 10px;
    margin-left: 20px;
}

#employeeName {
  text-align: center;
  color: #284A75;
}

#singleEmployee p {
  margin-top: 10px;
  font-size: 0.9em;
}

#singleEmployee i {
  margin-top: 15px;
}
#singleEmployee i:hover {
  color:#1EBEA5;
}
/* ------------ EditEmployeeForm.jsx --------------------------------------------------------------*/
#editEmployeeForm h4 {
  color: #284A75;
  margin-bottom: 25px;
}
#editEmployeeForm #deleteBtn {
  margin-top: 0.5em;
}
#submitEmployeeEdits {
  width: 100%;
  background-color: #284A75;
}
#submitEmployeeEdits:hover {
  background-color: #1EBEA5;
  border-color: #1EBEA5;
}
#cancelEmployeeEdits {
  width: 100%;
}
/* ------------ EmployeeSalesData.jsx --------------------------------------------------------------*/
#employeeRevenue {
  border: 2px solid #284A75;
  min-height: 250px;
  width: auto;
  margin-top: 1em;
  border-radius: 5px;
  margin-right: 3em;
}

#employeeRevenue i {
  color: #449D44;
}

/* ------------ EmployeeProfileContainer.jsx --------------------------------------------------------------*/
#employeeProfilePage {
  border: 3px solid #F2F2F2;
  border-radius: 5px;
  height: auto;
  width: 900px;
  padding: 30px;
}

@media all and (max-width: 991px) {
  #employeeProfilePage {
    width: auto;
  }
}

#employeeTitle {
  font-size: 2.0em;
  font-weight: 400;
  color: #6D6D6D;
}

#employeeSubTitle {
  font-size: 1.3em;
  margin-bottom: 35px;
  color: #FF9885;
}

.employeeIcon {
  font-size: 15em !important;
  padding-left: 10px;
}

#editEmployee {
  padding-top: 30px;
  font-size: 1.8em;
  color: #1EBEA5;
}

#editEmployeeIcon:hover{
  cursor: pointer;
  color: #228AEB;
}

#employeeInfo {
  padding-top: 50px;
}

#employeeInfo p {
  margin-top: 5px;
  color: #6D6D6D;
  font-size: 1.7em;
}

#employeeInfo span {
  color: #228AEB;
  font-size: 1.2em !important;
}

#forgotEmployeePass {
  margin-top: 20px;
  color: #6D6D6D;
}

#forgotEmployeePass:hover {
  color: #228AEB;
  cursor: pointer;
}

#employeeLogin {
  padding-top: 40px;
}

#employeeLogin input {
  margin-top: 10px;
  height: 40px;
}

#employeeLogin label {
  color: #228AEB;
  text-align: center;
}

#loginEmployeeBtn {
  margin-top: 20px;
  background-color: #228AEB;
  border-color: #228AEB;
  color: white;
  height: 40px;
  border-radius: 2px;
  width: 100%;
}



#employeeProfilePage #backArrow {
  color: #1EBEA5;
}
#employeeProfilePage #backArrow:hover {
  cursor: pointer;
}



/*#employeeProfile {
  border: 2px solid #284A75;
  min-height: 500px;
  width: auto;
}
  #employeeProfile label {
    padding-top: 15px;
    color: #337ab7;
  }
  #employeeProfile h4 {
    padding-top: 12px;
  }
  #employeeProfile h1 {
    color: #284A75;
  }
  #employeeProfile i {
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    color: #284A75;
  }
  #employeeProfile button {
    height: 3em;
    width: 100%;
    background-color: #284A75;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  #employeeProfile button:hover {
    background-color: #1EBEA5;
  }


  @media all and (max-width: 768px) {
      #employeeProfile button {
        width: 75%;
        margin-bottom: 25px;
      }
  }
#employeeLogin h5 {
  color: red;
}*/
/* ------------ SaleProfile.jsx --------------------------------------------------------------*/
#saleProfile {
  margin-top: 75px;
}
  #saleHeader {
    text-align: center;
  }

  #saleItems {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
  }

  #saleTotal {
    margin-left: 15px;
  }

  #saleCheckMark {
    color: #449D44;
    float: right;
  }

  #receiptBorder {
     position: relative;
     padding: 8px 8px 32px 8px;
     background: 	#FAEBD7;
  }
   #receiptBorder:after {
       background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
       background-position: left-bottom;
       background-repeat: repeat-x;
       background-size: 32px 32px;
       content: " ";
       display: block;
       position: absolute;
       bottom: 0px;
       left: 0px;
       width: 100%;
       height: 32px;
   }

   @media all and (max-width: 768px) {
       #saleProfile {
         margin-left: 1em;
         margin-right: 1em;
       }
   }

/* ------------ SoldItemThumbnail.jsx --------------------------------------------------------------*/

#soldItemThumbnail {
  /*This ain't coverin the whole background charles*/
  background: #FAEBD7 !important;
  border: 2px solid #284A75;
}

/* ------------ SalesHistoryRow.jsx --------------------------------------------------------------*/
.salesHistoryRow i {
  color: #228AEB;
}

.salesHistoryRow i:hover {
  cursor: pointer;
  color: #1EBEA5;
}

/* ------------ SalesHistoryContainer.jsx --------------------------------------------------------------*/
#salesHistoryContainer {
  margin-top: 6em;
}
#salesHistoryContainer .panel-heading {
  background-color: white !important;
}

#salesHistoryContainer p {
  font-size: 1.3em;
}

#historyHead {
  font-size: 2.0em !important;
  font-weight: 400;
}

#historySubHead {
  margin-bottom: 35px;
}
.combobox-wrapper select {
  width: 200px;
  height: 30px !important;
}
.dateColumn {
  padding-left: 75px;
  width: 200px;
  margin-right: 100px;
}


#salesHistoryContainer #loadingSpinner {
  margin-left: 45%;
}
/* ------------ SalesSearchForm.jsx ----------------------------------------------------------------*/
#salesByDateForm .form-group {
  margin-top: 0em;
  margin-bottom: 0em;
}
#salesByDateForm select {
  height: 25px;
}
#historyBtns {
  padding-top: 145px;
  padding-left: 50px;
}

#searchSalesBtn {
  background-color: #2C87F3;
  border-color: #2C87F3;
  height: 50px;
  border-radius: 2px;
  width: 200px;
}
#refreshSalesBtn {
  padding-left: 200px;
  padding-top: 6px;
  color: #2C87F3;
}
#refreshSalesBtn:hover {
  cursor: pointer;
}
/* ------------ Signout.jsx ----------------------------------------------------------------*/
#signoutBacsiLogo {
  margin-top: 25em;
}
/* ------------ PlusMinusBtns.jsx ----------------------------------------------------------------*/

#plusMinusTD {
  width: 115px;
  padding-top: 11px;
}

#plusMinusBtns button {
  border: none;
}

#plusBtn {
  border: none;
  color: #B8B5B5;
  margin-right: 0.5em;
}

#plusBtn:hover {
  border: none;
  background-color: white;
}

#minusBtn {
  border: none;
  color: #B8B5B5;
}

#minusBtn:hover {
  border: none;
  background-color: white;
}

#plusBtn i:hover {
  color: #449D44;
}

#minusBtn i:hover {
  background-color: white;
  color: #DB4437;
}

/* ------------ LandingPage.jsx ----------------------------------------------------------------*/
/*-- Header ------*/
.header {
  padding: 140px 0 60px;
  border-bottom: 2px solid #c9c9c9;
}
  .header h1 {
    color: #284A75;
    font-family: 'Pacifico', cursive;
    font-size: 6.5em;
    margin-bottom: 0.2em;
  }
  .header p {
    font-size: 1.2em;
    color: #404040;
  }

  @media(max-width:768px) {

   .header {
    text-align:center;
    padding-top: 20%;
   }

   .header h1 {
   font-size:5em;
   }

   .header p {
    font-size:1em;
   }

   .header img {
    padding-top:10%;
   }

}
/*-- About ------*/

.about {
 padding: 100px 0 100px;
 text-align: center;
}

.about h1 {
 font-size: 1.8em;
 color: #284A75;
 padding: 0 0 25px;
}

.about p {
 padding-bottom:25px;
}

/*-- Features ------*/

.features {
 background-color: #1EBEA5;
 text-align:center;
 color:white;
 padding:90px 0 90px;
}

.features h1 {
 font-size:2em;
 padding-bottom:25px;
}

.features img {
 padding:15px 0 35px;
}

/* PRESS */

.press {
	padding: 90px 0 90px;
	text-align: center;
}

.press h1 {
	font-size: 1.8em;
	padding-bottom: 25px;
	color: #337ab7;
}

.press .press-logo li img {
	opacity: 0.3;
	padding-bottom: 25px;
}

.press .press-logo li:hover img {
	opacity: 1;
}

/* ScreenShots */

.screenshots {
	background-color: #235178;
	padding: 90px 0 90px;
	text-align: center;
	color: white;
}

.screenshots img {
	padding: 20px 0 20px;
}

.screenshots h1 {
	font-size: 2em;
}

/* Reviews */

.reviews {
	padding: 90px 0 90px;
	text-align: center;
  border-bottom: 2px solid #c9c9c9;
}

.reviews h1 {
	font-size: 2em;
	padding-bottom: 25px;
	color: #337ab7;
}

.reviews p {
	padding-bottom: 35px;
}

.reviews .bigQuote {
	padding-top: 35px;
}


/* Buy */

.buy {
	padding: 100px 0 100px;
	background-color: #1c3f5c;
	color: white;
	text-align: center;
}

.buy h1 {
	font-size: 2em;
	padding-bottom: 25px;
}

.buy button {
	background: transparent;
	border: none;
	padding-top: 25px;
}

/* Contact */

.contact {
	padding: 100px 0 100px;
	text-align: center;
}

.contact h1 {
	font-size: 2em;
	padding-bottom: 25px;
}

.contact .fa {
	color: #1c3f5c;
	padding: 20px 10px 40px;
}

.contact li {
	padding-top: 20px;
}

/* Footer */

.footer {
	background-color: #242424;
	color: white;
	padding: 30px 0 30px;
}

.footer h1 {
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
}

.footer p {
	font-size: 0.9em;
	color: #f2f2f2;
}

.footer a {
	color: #f2f2f2;
}

/* ------------ AddProductBtn.jsx ----------------------------------------------------------------*/
#addProductBtn {
  color: #1EBEA5;
  background-color: white;
  border: none;
}

#addProductBtn:hover {
  border-color: white;
  background-color: white !important;
}

/* ------------ StoreSettings.jsx ----------------------------------------------------------------*/
#userProfile label {
  color: #2C87F3;
}
/* ------------ TaxThumbnail.jsx ----------------------------------------------------------------*/
#setTaxBtn {
  background-color: #2C87F3;
  border-color: #2C87F3;
  border-radius: 2px;
  width: 100%;
}
/* ------------ AddEmployeeThumbnail.jsx ----------------------------------------------------------------*/

#addEmployeeBtn {
  width: 100%;
  background-color: #2C87F3;
  border-color: #2C87F3;
  border-radius: 2px;
}

/* ------------ StoreFrontContainer.jsx ----------------------------------------------------------------*/
.inventory {
    padding-top: 8%;
}

@media(max-width: 768px) {
  .inventory {
      padding-top: 15%;
  }
}


#searchTitle {
  padding-left: 10px;
  font-size: 1.5em;
  color: #727272;
}


@media(max-width: 991px) {
  #searchTitle {
    text-align: center;
  }
}

.addPadding {
    padding: 10px 10px 10px 10px;
}

#topProductsMessage {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.3em;
  color: #6D6D6D;
}

#spinner {
  text-align: center;
}

/* ------------ loadingSpinner.jsx ----------------------------------------------------------------*/
#loadingSpinner {
  margin-top: 50px;
  color: #2C87F3;
}

/* ------------ LoadProductsBtn.jsx ----------------------------------------------------------------*/
#loadProductsBtn {
  background-color: #2C87F3;
  border-radius: 2px;
  color: white;
  margin-top: 25px;
  margin-bottom: 10px;
  width: 200px;
  padding-top: 0;
  padding-bottom: 0;
}

/* ------------ Navbar.jsx ----------------------------------------------------------------*/

.navbar-brand {
    height: auto;
    width: 175px;
    padding: 10px 0 5px;
}
@media all and (max-width: 768px) {
    .navbar-brand {
      margin-left: 1em;
    }
}

/*.navbar a {
  color: #284A75 !important;
}*/

/* ------------ PreAuthNavTabs.jsx --------------------------------------------------------------*/
#forgotPassword {
  font-size: 0.6em;
  color: #DB4437;
}

/* ------------ PostAuthNavTabs.jsx --------------------------------------------------------------*/
#postAuthNavTabs i {
  margin-right: 0.5em;
}

#postAuthNavTabs i:hover {
  color: #1EBEA5;
}

#postAuthNavTabs a:hover{
  color: #1EBEA5 !important;
}

#signOutTab {
  color: #BCB5B9;
  font-size: 1.3em;
  margin-top: 0.3em;
}

/* The visible user-profile tab and singout button's text will be green during hover */
#signOutTab:hover {
  color: #1EBEA5 !important;
}

#userTab,
#userIcon {
  font-size: 1.3em;
  color: #BCB5B9;
}

#userTab:hover {
  color: #1EBEA5 !important;
}
/* When the navbar is minized, removes user-profile tab's green hover property */
@media all and (max-width: 768px) {
    #userTab:hover {
      color: #284A75 !important;
    }
}



/* ------------ UndoSaleBtn.jsx ----------------------------------------------------------------*/
#undoSale {
  text-align: center;
  padding-top: 10px;
  font-size: 1.1em;
}
  #undoSaleBtn {
    font-size: 1.2em;
    color: #6D6D6D;
    padding-left: 10px;
  }

  #undoSaleBtn:hover {
    color: #DB4437;
  }

  #undoSaleBtn:hover {
    cursor: pointer;
  }


/* ------------ CartProductRow.jsx ----------------------------------------------------------------*/

.cartRow {
  font-family: 'Nunito', sans-serif;
  color: #6D6D6D;
}

.rowPadding {
  padding-top: 16px !important;
}

.fa-check {
  color: #449D44;
}

.productQuantity {
  font-size: 1.3em;
  margin-left: 5px;
}

#cartDelete {
    color: #DB4437;
    padding-top: 10px;
}

#cartDelete:hover {
    cursor: pointer;
}


/* ------------ DeleteBtn.jsx ----------------------------------------------------------------*/

#deleteBtn {
  color: #DB4437;
  padding-bottom: 0.7em;
}

#deleteBtn:hover {
  cursor: pointer;
}

/* ------------ Home.jsx ----------------------------------------------------------------*/

.home {
    padding: 140px 0 220px 0;
    background: url(../../css/home.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #c9c9c9;
}

.home_content {
    padding-top: 10%;
    padding-left: 45%;
    text-align: center;
    color: #284A75;
}

.home_content ul {
    list-style-type: none;
}

#homeBacsiLogo {
    padding-top: 10%;
}

/* ------------ Navbar.jsx --------------------------------------------------------------*/

.navbar {
  background-color: white;
  box-shadow : 0px 0px 5px 0px #eaeaea;
  font-family: 'Lato', sans-serif;
}

@media all and (max-width: 768px) {
    .navbar {
      font-size: 1.0em;
    }
}

/* ------------ PostAuthSideNavbar.jsx --------------------------------------------------------------*/

.side-nav-wrapper {
    position: absolute;
    top: 3.6em;
    left: 0em;
    width: 4.5em;
    height: 100%;
    background-color: #EFEFEF;
    transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -webkit-transition: left 0.3s linear;
    border-right: 1px solid #284A75;
    border-bottom: 1px solid #284A75;
}

  .side-nav-wrapper ul {
    width: 11em;
    list-style: none;
    margin-top: 2em;
    margin-left: 1em;
    padding: 0em;
  }

  .side-nav-wrapper ul li {
    margin-top: 3em;
  }

  .side-nav-wrapper ul li a .active {
    color: #1EBEA5;
  }

  .side-nav-wrapper ul li a:active,
  .side-nav-wrapper ul li a:hover {
    color: #1EBEA5;
  }

  .homeLabel {
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 0em !important;
    margin-bottom: 0em !important;
    margin-left: -0.2em !important;
  }

  #homeIcon {
    color: #E2A5DF;
  }

  .sellLabel {

    font-size: 0.8em;
    font-weight: bold;
    margin-top: 0em !important;
    margin-bottom: 0em !important;
    margin-left: 0.5em !important;
  }

  #sellIcon {
    color: #FF9885;
  }

  .inventoryLabel {
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 0em !important;
    margin-bottom: 0em !important;
    margin-left: -0.6em !important;
  }

  #inventoryIcon {
    color: #76DECA;
  }

  .reportingLabel {
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 0em !important;
    margin-bottom: 0em !important;
    margin-left: -0.8em !important;
  }

  #reportingIcon {
    color: #F8A443;
  }

  .salesLabel {
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 0em !important;
    margin-bottom: 0em !important;
    margin-left: -1em !important;
  }

  #salesIcon {
    color: #B5E892;
  }

/* ------------ Login.jsx --------------------------------------------------------------*/

.loginNav .navbar-right li {
    padding: 10px 5px;
    margin-bottom: 0;
}

/* ------------ Tour.jsx --------------------------------------------------------------*/

.tour {
    padding-top: 7%;
}

.tour ul {
    text-align: center;
}

/* ------------ LoginFormContainer.jsx --------------------------------------------------------------*/

#loginEmail {
  margin-right: 10px;
  box-shadow: none;
}

#loginPassword {
  margin-right: 10px;
  box-shadow: none;
}
/* ------------ Signup.jsx --------------------------------------------------------------*/

#adminCheck {
  margin-left: 15px;
}

#errorAlert {
    margin-bottom: 25px;
    color: red;
}


.text-help {
    color: red;
}

#signupBtn {
    width: 100%;
}

#signupPage {
    margin-top: 100px;
    color: #284A75;
}


/* ------------ Product-Search.jsx --------------------------------------------------------------*/
#productSearch {
  margin-top: 22px;
  margin-bottom: 30px;
}
#productSearch i {
  color: #6D6D6D;
}

#productSearch input {
  border-width: 2px;
  border-color: #A9A9A9;
  border-radius: 5px;
  height: 32px !important;
  box-shadow: none;
}

#productSearch .input-group-addon {
  padding: 0 10px;
  background-color: white;
  border: none;
}

#productSearch input::-webkit-input-placeholder {
    color: #BCB5B9 !important;
}

#productSearch input:-moz-placeholder { /* Firefox 18- */
    color: #BCB5B9 !important;
}

#productSearch input::-moz-placeholder {  /* Firefox 19+ */
    color: #BCB5B9 !important;
}

#productSearch input:-ms-input-placeholder {
    color: #BCB5B9 !important;
}


/* ------------ Profile.jsx --------------------------------------------------------------*/

#userProfile {
    margin-top: 100px;
}

#userProfile h3 {
    color: #284A75;
}

#profileTitle {
  font-size: 1.8em;
  margin-bottom: 30px;
}

#storeTitle {
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.8em;
}



/* ------------ ProductFilter.jsx --------------------------------------------------------------*/

.pharmaFilter {
  color: #34CAAF;
}
.herbalsFilter {
  color: #FF7A62;
}
.consumerFilter {
  color: #A6E47C;
}
.otcFilter {
  color: #DE8EDA;
}

.xsPadRight {
  padding-right: 6px;
}

#filterOptions ul {
  margin-bottom: 30px;
  color: #6D6D6D;
  text-align: center;
}

#filterOptions li {
    padding-right: 20px;
    display: inline;
    font-size: 1.2em;
}

#filterOptions li:hover {
  color: #337ab7;
  cursor: pointer;
}

@media(max-width: 768px) {
  #filterOptions ul {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
}

.activeBlue {
    color: #337ab7; !important;
}


/* ------------ Single-Product.jsx --------------------------------------------------------------*/

#singleProduct {
    border: 2.5px solid #BCB5B9;
    border-radius: 5px;
    width: 100px;
    height: 140px;
    margin-top: 10px;
}

@media(max-width: 400px) {
  #singleProduct {
    margin-left: 23px;
  }
}

#pricetag i {
    padding-left: 25px;
}

#pricetag i:hover {
    cursor: pointer;
    color: #2C87F3;
}

#productName {
  text-align: center;
  color: #284A75;
}

#examineIcon i {
   padding: 5px 0 0 5px;
   color: #6D6D6D;
}

#examineIcon i:hover {
    color: #2C87F3;
}

/* ------------ ProductProfile.jsx --------------------------------------------------------------*/

#productProfile {
    margin-top: 150px;
}

  #productBackArrow i {
    color: #57C082;
  }

  #productBackArrow i:hover {
    cursor: pointer;
  }

  #productEditIcon i {
    float: right;
    color: #2C87F3;
  }

  #productEditIcon i:hover {
    cursor: pointer;
  }

/* ------------ CartHeader.jsx --------------------------------------------------------------*/
#cartHeaderDiv h5 {
    text-align: center;
    color: #228AEB;
}

#cartHeaderDiv p {
    text-align: center;
    margin-bottom: 0px;
}

.cartHeaderActive i {
  padding-bottom: 10px;
  padding-top: 10px;
  color: #228AEB;
}

.cartHeaderReceipt i {
  color: #228AEB;
}

.cartHeaderSale i {
  color: #228AEB;
}


/* ------------ CartContainer.jsx --------------------------------------------------------------*/

@media(max-width: 991px) {
  #checkoutContainer {
    margin-top: 20px;
  }
}

#checkoutTitle {
  float: left;
  font-size: 1.5em;
  color: #727272;
  margin-right: 5px;
  padding-top: 5px;
}
#itemCount {
  font-style: italic;
  padding-top: 10px;
  color: #BEBEBE;
}

#discardDiv {
  padding-top: 10px;
  text-align: right;
}
#discardSale {
  color: #B5B5B5;
  font-size: 1.1em;
}
#clearCartBtn {
  margin-right: 10px;
  color: #B5B5B5;
  font-size: 1.5em;
}
#clearCartBtn:hover {
  cursor: pointer;
  color: #DB4437;
}

.checkout {
  margin-top: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #CECECE;
  border-radius: 5px;
}

.cartTableContainer {
  height: 285px;
  overflow-y: scroll;
}

.checkOutBtn {
  width: 100%;
  background-color: #228AEB;
  border-color: #228AEB;
  height: 65px;
}

.checkOutBtn:hover {
  background-color: #00b359;
  border-color: #00b359;
}

#payBtnText {
  float: left;
  font-size: 1.5em;
}

#payBtnTotal {
  float: right;
  font-size: 1.7em;
}

#checkoutPanel {
  margin-bottom: 0;
}

/* -- CartTotalsTable.jsx ------------------------------------------------------*/

#cartTotals {
  height: 217px;
}

.checkout .panel-footer {
  background-color: white !important;
}

.cartTableContainer td {
    border-bottom: 1px solid #ddd !important;
}

.totalsData {
  font-size: 1.3em;
  color: #6D6D6D;
}

.actualTotal {
  font-size: 2.3em;
  padding-top: 30px;
  color: #6D6D6D;
}

#discount {
  color: #228AEB;
}

.totalDiv {
  border-top: 1px solid #CECECE;
}

#hideReceiptIcon {
  color: white;
}

#cartTotalsTable {
  margin-bottom: 5px;
}


/* ------------ Receipt.jsx --------------------------------------------------------------*/

.receipt {
    margin-top: 25px;
}

.receipt .saleItems td {
    border-bottom: 1px solid #ddd !important;
}

.receipt button {
    height: 50px;
    width: 100%;
}

.receipt .panel-heading h5 {
    color: #284A75;
}

.receipt .saleItems .fa {
    color: #449D44;
}



/* ------------ AllProducts.jsx --------------------------------------------------------------*/
#allProductsFooter {
  text-align: center;
  padding: 0;
  background-color: #F8F8F8;
}
.allProductsShown {
    margin-top: 100px;
}

.allProductsShown #productSearch .input-group-addon {
  background-color: white;
}

.allProductsShown #productSearch input {
  height: 50px !important;
}

@media(max-width: 1060px) {
  .allProductsShown #productSearch.input-group {
    margin-right: 25px;
  }
}

.allProductsShown .panel-heading {
  background-color: #F8F8F8;
  padding: 0;
}

#allProductsHead {
  font-size: 2.0em;
  font-weight: 400;
}

#allProductsSubHead {
  font-size: 1.3em;
  margin-bottom: 35px;
}

#addProductTitle {
  font-size: 1.6em;
  margin-right: 50px;
}

.allProductsShown #addProductBtn {
  padding-top: 45px;
}

@media(max-width: 1060px) {
  .allProductsShown #addProductBtn {
    padding-top: 10px;
    text-align: center;
  }
}

.allProductsShown #addProductBtn i {
  padding-left: 25px;
}

.allProductsShown input {
  box-shadow: none;
}
.allProductsShown .input-group-addon {
  background-color: white;
  font-size: 2em !important;
}
.allProductsShown .panel-heading div {
  padding-top: 5px;
  padding-bottom: 5px;
}

#editProductIcon {
    color: #2C87F3;
}

#editProductIcon:hover {
    cursor: pointer;
}

/* ------------- SaleDetailsContainer ------------------------------------ */
#deleteSaleBtn {
  margin-top: 2.5em;
  width: 100%;
}

/* ------------ ManageProductForm.jsx --------------------------------------------------------------*/

#manageProductForm #deleteProductBtn {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#manageTitle {
  margin-bottom: 60px;
}

#manageProductForm label {
  color:#228AEB;
  padding-bottom: 10px;
}

#manageProductForm h3 {
    padding-bottom: 25px;
}

#manageProductFields input {
    box-shadow: none;
}

#saveProductBtn {
  margin-top: 50px;
  height: 50px;
  background-color: #228AEB;
  border-color: #228AEB;
  border-radius: 2px;
  width: 100%;
}

#cancelProductBtn {
  background-color: #DB4437;
  height: 50px;
  padding-top: 12px;
  border-radius: 2px;
  width: 100%;
  margin: 20px 0 20px;
}

#cancelProductBtn:hover {
  background-color: #DB4437;
}

#manageBackArrow i {
  color: #57C082;
}

#manageBackArrow i:hover {
  cursor: pointer;
}

@media all and (max-width: 768px) {
    #manageProductForm {
      margin-top: 8em;
    }
    #manageProductForm form {
      margin-top: 0px;
    }
}

/* ------------ Reporting.jsx --------------------------------------------------------------*/



/* ------------ RevenueThumbnail.jsx --------------------------------------------------------------*/

.revenueThumbnail {
    margin-top: 125px;
}


/* ------------ LoginFormContainer.jsx --------------------------------------------------------------*/

#loginError {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 0px;
}
#loginError a {
  padding-right: 10px;
}
